@model IEnumerable<SIREON.Reservacione>
@{

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>

        table {
            display: block;
            height: 360px;
            overflow: auto;
        }
    </style>
</head>
<body>
    @{var p = 0;
        foreach (var item in Model)
        {

            p = p + 1;
        }
    }
    <div class="viewport-header">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb has-arrow">
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index", "Home")">Inicio</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="@Url.Action("Index", "Reservaciones")">Reservaciones</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">En espera</li>
            </ol>
        </nav>
    </div>

    @if (p != 0)
    {
        <div class="col-lg-12">
            <div class="grid" style=" box-shadow: 0 0 10px -5px #bcbebf;">
                <p class="grid-header" style="border-left-color:green">En espera de disponibilidad</p>
                <div class="item-wrapper">
                    <div class="table-responsive">
                        <table class="table table-striped" id="example">
                            <thead>
                                <tr>
                                    <th>
                                        Titular
                                    </th>
                                    <th>
                                        Fecha
                                    </th>
                                    <th>
                                        Hora solicitada
                                    </th>
                                    <th>
                                        Hora de entrada
                                    </th>
                                    <th>
                                        Hora de salida
                                    </th>
                                    <th>
                                        Cubículo No.
                                    </th>
                                    <th>
                                        Estatus de reservación
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="myTable" style="text-align:center">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @{
                                                string str = item.AspNetUser.Email.Substring(0, 9);
                                            }
                                            @str
                                        </td>
                                        <td>
                                            @{

                                                var fecha = item.FechaSolicitada.Date.ToShortDateString();
                                                @Html.DisplayFor(m => fecha)


                                            }
                                        </td>
                                        <td>
                                            @{
                                                string Hora = item.HSolicitada.ToString();
                                                string str3 = Hora.Substring(0, 8);
                                            }
                                            @str3
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.HEntrada)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.HSalida)
                                        </td>
                                        <td>
                                            @*@Html.DisplayFor(modelItem => item.ID_Cubiculo)*@
                                            Por asignar
                                        </td>
                                        <td>
                                            @{
                                                if (item.Estatus == "Activa    ")
                                                {
                                                    <label class="badge badge-info">Próxima</label>
                                                }
                                                else if (item.Estatus == "Cancelada ")
                                                {
                                                    <label class="badge badge-warning">Cancelada</label>
                                                }
                                                else if (item.Estatus == "Rechazada ")
                                                {
                                                    <label class="badge badge-danger">Rechazada</label>
                                                }
                                                else if (item.Estatus == "En espera ")
                                                {
                                                    <label class="badge badge-warning">En espera</label>
                                                }
                                                else
                                                {
                                                    <label class="badge badge-success">Completada</label>
                                                }
                                            }
                                        </td>
                                        <td>

                                            @Html.ActionLink("Detalles", "Details", new { id = item.ID_Reservacion }, htmlAttributes: new { @class = "btn btn-default" })

                                        </td>
                                        <td></td>
                                        @*<td>

                                                @{
                                                    if (item.Estatus == "En espera ")
                                                    {
                                                        @Html.ActionLink("Dar entrada", "edit", new { id = item.ID_Reservacion }, htmlAttributes: new { @class = "btn btn-success" })

                                                    }
                                                    else
                                                    {
                                                        <button class="btn btn-success" disabled>Dar entrada</button>

                                                    }
                                                }


                                            </td>*@


                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="col-lg-12 col-md-12 col-sm-12 equel-grid" style="text-align:center">
            <div class="col-md-3 col-sm-3 grid">
                <div class="grid-body">
                    <h3 class="title">
                        Actualmente no hay reservaciones en espera
                    </h3>
                    <br />
                    <a>
                        <div class="item-wrapper">
                            <img class="img-xl mt-1 mb-1 mr-2" src="~/Content/images/file.jpg" id="Disp" alt="" width="100">
                        </div>
                    </a>

                    <p>

                    </p>
                </div>
            </div>
        </div>
    }
</body>
</html>


