@model SIREON.Reservacione

@{
    ViewBag.Title = "Detalles | SIREON";
}
    <head>
        <style>
            table {
                height: 300px;
                overflow: auto;
            }
        </style>
        
    </head>
    <div>
        <h4>Detalles de reservacion</h4>
        <br />
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 equel-grid" style="text-align:center">
                <div class="col-md-3 col-sm-3 grid">
                    <div class="grid-body">
                        <h1 class="grid-title">
                            Fecha
                        </h1>
                        <a href="#">
                            <div class="item-wrapper">

                            </div>
                        </a>
                        <p>

                        </p>
                        <p>
                            @Html.DisplayFor(model => model.Fecha)

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 equel-grid" style="text-align:center">
                <div class="col-md-3 col-sm-3 grid">
                    <div class="grid-body">
                        <h1 class="grid-title">
                            Horario
                        </h1>
                        <a href="#">
                            <div class="item-wrapper">
                            </div>
                        </a>
                        <p>
                            @Html.DisplayFor(model => model.HEntrada)  -  @Html.DisplayFor(model => model.HSalida)

                        </p>


                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 equel-grid" style="text-align:center">
                <div class="col-md-3 col-sm-3 grid">
                    <div class="grid-body">
                        <h1 class="grid-title">
                            Cubículo No.
                        </h1>
                        <h1>
                            @Html.DisplayFor(model => model.Cubiculo.Descripcion)
                        </h1>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 equel-grid" style="text-align:center">
                <div class="col-md-3 col-sm-3 grid">
                    <div class="grid-body">
                        <h1 class="grid-title">
                            Estatus
                        </h1>
                        @if ((Model.Estatus) == "Activa    ")
                        {
                            <br/>
                            <a href="#">
                                <div class="item-wrapper">
                                    <img class="img-lg mt-1 mb-1 mr-2" src="~/Content/images/Check.png" alt="" width="200">
                                </div>
                            </a>
                            <br/>
                            <p>
                                Activa
                            </p>
                            <br/>
                            <p>
                                <input type="button" class="btn btn-danger" value="Cancelar reservación" />
                            </p>
                        }
                        else if ((Model.Estatus) == "Cancelada ")
                        {
                            <br />
                            <a href="#">
                                <div class="item-wrapper">
                                    <img class="img-lg mt-1 mb-1 mr-2" src="~/Content/images/warning.png" alt="" width="200">

                                </div>
                            </a>
                            <br/>
                            <p>
                                Cancelada
                            </p>
                        }
                        else if ((Model.Estatus) == "Rechazada ")
                        {
                            <br />
                            <a href="#">
                                <div class="item-wrapper" style="justify-content:center">
                                    <img class="img-lg mt-1 mb-1 mr-2" src="~/Content/images/Rechazada.png" alt="" width="200">

                                </div>
                            </a>
                            <br />
                            <p>
                                Rechazada
                            </p>
                        }
                        else
                        {
                            <br/>
                            <a href="#">
                                <div class="item-wrapper">
                                    <img class="img-lg mt-1 mb-1 mr-2" src="~/Content/images/Check.png" alt="" width="200">

                                </div>
                            </a>
                            <br/>
                            <p>
                                Completada
                            </p>
                        }


                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 equel-grid" style="text-align:center">
                <div class="grid">
                    <div class="grid-body">
                        <div class="split-header">
                            <p class="card-title">
                                <img class="img-sm mt-1 mb-1 mr-2" src="~/Content/images/Participantes.png" alt="" width="25">Participantes
                            </p>
                            <div class="btn-group">
                                <button type="button" class="btn btn-trasnparent action-btn btn-xs component-flat pr-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="mdi mdi-dots-vertical"></i>
                                </button>
                            </div>
                        </div>
                        <div class="vertical-timeline-wrapper">
                            <div class="timeline-vertical dashboard-timeline">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th width="20" style="text-align:left">Nombre</th>
                                            <th width="20">Matricula/Cédula</th>
                                            <th width="60"></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td class="d-flex align-items-center border-top-0">
                                                <img class="profile-img img-sm img-rounded mr-2" src="~/Content/images/profile/male/image_5.png" alt="~/Content/images/profile/user.png">
                                                <span>Herman Rosado</span>
                                            </td>
                                            <td>
                                                <p>
                                                    hr20-0182
                                                </p>
                                            </td>
                                            <td>
                                                
                                                @{
                                                    if (Model.Estatus == "Activa    ")
                                                    {
                                                        <input type="button" class="btn-sm btn-danger" value="Eliminar" />
                                                    }
                                                    else
                                                    {
                                                       
                                                    }
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="d-flex align-items-center border-top-0">
                                                <img class="profile-img img-sm img-rounded mr-2" src="~/Content/images/profile/female/image_3.png" alt="~/Content/images/profile/user.png">
                                                <span>Elena Peralta</span>
                                            </td>
                                            <td>
                                                <p>
                                                    ep20-1132
                                                </p>
                                            </td>
                                            <td>
                                                @{
                                                    if (Model.Estatus == "Activa    ")
                                                    {
                                                        <input type="button" class="btn-sm btn-danger" value="Eliminar" />
                                                    }
                                                    else
                                                    {

                                                    }
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="d-flex align-items-center border-top-0">
                                                <img class="profile-img img-sm img-rounded mr-2" src="~/Content/images/profile/female/image_1.png" alt="~/Content/images/profile/user.png">
                                                <span>Maria Castillo</span>
                                            </td>
                                            <td>
                                                <p>
                                                    mc19-3185
                                                </p>
                                            </td>
                                            <td>
                                                @{
                                                    if (Model.Estatus == "Activa    ")
                                                    {
                                                        <input type="button" class="btn-sm btn-danger" value="Eliminar" />
                                                    }
                                                    else
                                                    {

                                                    }
                                                }
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                              
                    </div>
                </div>
            </div>

        </div>
        
    </div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Reservacion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
