@model SIREON.Reservacione
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Detalles | SIREON";
}
<head>
    <style>
        table {
            height: 300px;
            overflow: auto;
        }
    </style>

</head>
<div class="col-lg-3 col-md-3 col-sm-3 equel-grid" style="text-align:center; display:none ">
    <div class="col-md-3 col-sm-3 grid">
        <div class="grid-body">
            <p>
                <input type="text" id="idres" value="@Html.DisplayFor(model => model.ID_Reservacion)" />
                <input type="text" id="idcub" value="@Html.DisplayFor(model => model.ID_Cubiculo)" />
                <input type="text" id="HEntrada" value="@Html.DisplayFor(model => model.HEntrada)" />
                <input type="text" id="HSalida" value="@Html.DisplayFor(model => model.HSalida)" />
                <input type="text" id="Fecha" value="@Html.DisplayFor(model => model.Fecha)" />
                <input type="text" id="msg" value="" style="display:none" />
            </p>
        </div>
    </div>
</div>
<div>

    @if (User.IsInRole("Operador"))
    {
        <div class="viewport-header">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb has-arrow">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Home")">Inicio</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index", "Reservaciones")">Reservaciones</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Detalles</li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 equel-grid" style="text-align:center">
                <div class="grid">
                    <div class="grid-body">
                        <h1 class="grid-title">
                            Titular de la reservación
                        </h1>
                        <a href="#">
                            <div class="item-wrapper">

                            </div>
                        </a>
                        <p>

                        </p>
                        <p id="NSolicitante">
                            <input type="text" id="IdAspNetUsers2" value="@Html.DisplayFor(model => model.IdAspNetUsers)" style="display:none" />

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 equel-grid" style="text-align:center">
                <div class="col-md-3 col-sm-3 grid">
                    <div class="grid-body">
                        <h1 class="grid-title">
                            Fecha
                        </h1>
                        <a href="#">
                            <div class="item-wrapper">

                            </div>
                        </a>
                        <p>

                        </p>
                        <p>
                            @{

                                var fecha = Model.Fecha.Date.ToShortDateString();
                                @Html.DisplayFor(m => fecha)


                            }
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 equel-grid" style="text-align:center">
                <div class="col-md-3 col-sm-3 grid">
                    <div class="grid-body">
                        <h1 class="grid-title">
                            Horario
                        </h1>
                        <a href="#">
                            <div class="item-wrapper">
                            </div>
                        </a>
                        <p>
                            @Html.DisplayFor(model => model.HEntrada)  -  @Html.DisplayFor(model => model.HSalida)

                        </p>


                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 equel-grid" style="text-align:center">
                <div class="col-md-3 col-sm-3 grid">
                    <div class="grid-body">
                        @if (((Model.Estatus) == "En espera "))
                        {
                            <h1 class="grid-title">
                                Cubículo
                            </h1>
                            <h6>
                                Por asignar.
                            </h6>
                        }
                        else
                        {
                            <h1 class="grid-title">
                                Cubículo No.
                            </h1>
                            <h1>
                                @Html.DisplayFor(model => model.Cubiculo.Descripcion)
                            </h1>
                        }

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 equel-grid" style="text-align:center">
                <div class="col-md-3 col-sm-3 grid">
                    <div class="grid-body">
                        <h1 class="grid-title">
                            Estado de la reservación
                        </h1>
                        @if ((Model.Estatus) == "Activa    ")
                        {
                            <br />
                            <a href="#">
                                <div class="item-wrapper">
                                    <img class="img-lg mt-1 mb-1 mr-2" src="~/Content/images/Check.png" alt="" width="200">
                                </div>
                            </a>
                            <br />
                            <br />
                            <br />
                            <p>
                                Próxima
                            </p>
                            <br />
                            <p>

                                @if (User.IsInRole("Operador"))
                                {
                                    <div class="row" style="justify-content:space-around">
                                        <input type="button" class="btn btn-success" id="DarEntrada" value="Dar entrada" />
                                        <input type="button" class="btn btn-danger" id="Rechazar" value="Rechazar reservación" />
                                    </div>

                                }
                                else
                                {
                                    <input type="button" class="btn btn-danger" id="Cancelar" value="Cancelar reservación" />

                                }
                            </p>
                        }
                        else if ((Model.Estatus) == "Cancelada ")
                        {
                            <br />
                            <a href="#">
                                <div class="item-wrapper">
                                    <img class="img-lg mt-1 mb-1 mr-2" src="~/Content/images/warning.png" alt="" width="200">

                                </div>
                            </a>
                            <br />
                            <br />
                            <br />
                            <p>
                                Cancelada
                            </p>
                        }
                        else if ((Model.Estatus) == "Rechazada ")
                        {
                            <br />
                            <a href="#">
                                <div class="item-wrapper" style="justify-content:center">
                                    <img class="img-lg mt-1 mb-1 mr-2" src="~/Content/images/Rechazada.png" alt="" width="200">

                                </div>
                            </a>
                            <br />
                            <br />
                            <br />
                            <p>
                                Rechazada
                            </p>
                        }
                        else if ((Model.Estatus) == "En espera ")
                        {
                            <br />
                            <a href="#">
                                <div class="item-wrapper" style="justify-content:center">
                                    <img class="img-lg mt-1 mb-1 mr-2" src="~/Content/images/Wait.png" alt="" width="200">

                                </div>
                            </a>
                            <br />
                            <br />
                            <br />
                            <p>
                                En espera de disponibilidad
                            </p>
                            <br />
                            <p>

                                @if (User.IsInRole("Operador"))
                                {
                                    <div class="row" style="justify-content:space-around">
                                        <input type="button" class="btn btn-success" id="DarEntrada2" value="Dar entrada" />
                                        <input type="button" class="btn btn-danger" id="Rechazar" value="Rechazar reservación" />
                                    </div>

                                }
                                else
                                {
                                    <input type="button" class="btn btn-danger" id="Cancelar" value="Cancelar reservación" />

                                }
                            </p>
                        }
                        else if ((Model.Estatus) == "EnCurso   ")
                        {
                            <br />
                            <a href="#">
                                <div class="item-wrapper" style="justify-content:center">
                                    <img class="img-lg mt-1 mb-1 mr-2" src="~/Content/images/EnCurso.png" alt="" width="200">

                                </div>
                            </a>
                            <br />
                            <br />
                            <br />
                            <p>
                                En curso
                            </p>
                            <br />
                            <p>

                                @if (User.IsInRole("Operador"))
                                {
                                    <div class="row" style="justify-content:space-around">
                                        <input type="button" class="btn btn-danger" id="Completar" value="Finalizar" />
                                    </div>

                                }

                            </p>
                        }
                        else
                        {
                            <br />
                            <a href="#">
                                <div class="item-wrapper">
                                    <img class="img-lg mt-1 mb-1 mr-2" src="~/Content/images/Check.png" alt="" width="200">

                                </div>
                            </a>
                            <br />
                            <p>
                                Completada
                            </p>
                        }


                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 equel-grid" style="text-align:center">
                <div class="grid">
                    <div class="grid-body">
                        <div class="split-header">
                            <p class="card-title">
                                <img class="img-sm mt-1 mb-1 mr-2" src="~/Content/images/Participantes.png" alt="" width="25">Participantes
                            </p>
                            <div class="btn-group">
                                <button type="button" class="btn btn-trasnparent action-btn btn-xs component-flat pr-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="mdi mdi-dots-vertical"></i>
                                </button>
                            </div>
                        </div>
                        <div class="vertical-timeline-wrapper">
                            <div class="timeline-vertical dashboard-timeline">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Matricula/Cédula</th>
                                            <th>Estatus</th>
                                        </tr>
                                    </thead>

                                    <tbody id="linea">
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        var user = User.Identity.GetUserId();
        if (Model.IdAspNetUsers != user)
        {
            <div class="viewport-header">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb has-arrow">
                        <li class="breadcrumb-item">
                            <a href="@Url.Action("Index", "Reservaciones")">Mi espacio</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="@Url.Action("Invitaciones", "Reservaciones")">Invitaciones</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Detalles de invitación</li>
                    </ol>
                </nav>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 equel-grid" style="text-align:center">
                    <div class="col-md-3 col-sm-3 grid">
                        <div class="grid-body">
                            <h1 class="grid-title">
                                Titular de la reservación
                            </h1>
                            <a href="#">
                                <div class="item-wrapper">

                                </div>
                            </a>
                            <p>

                            </p>
                            <p id="NSolicitante">
                                <input type="text" id="IdAspNetUsers2" value="@Html.DisplayFor(model => model.IdAspNetUsers)" style="display:none" />

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 equel-grid" style="text-align:center">
                    <div class="col-md-3 col-sm-3 grid">
                        <div class="grid-body">
                            <h1 class="grid-title">
                                Fecha
                            </h1>
                            <a href="#">
                                <div class="item-wrapper">

                                </div>
                            </a>
                            <p>

                            </p>
                            <p>
                                @{

                                    var fecha2 = Model.Fecha.Date.ToShortDateString();
                                    @Html.DisplayFor(m => fecha2)


                                }
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 equel-grid" style="text-align:center">
                    <div class="col-md-3 col-sm-3 grid">
                        <div class="grid-body">
                            <h1 class="grid-title">
                                Horario
                            </h1>
                            <a href="#">
                                <div class="item-wrapper">
                                </div>
                            </a>
                            <p>
                                @Html.DisplayFor(model => model.HEntrada)  -  @Html.DisplayFor(model => model.HSalida)

                            </p>


                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 equel-grid" style="text-align:center">
                    <div class="col-md-3 col-sm-3 grid">
                        <div class="grid-body">
                            @if (((Model.Estatus) == "En espera "))
                            {
                                <h1 class="grid-title">
                                    Cubículo
                                </h1>
                                <h6>
                                    Por asignar.
                                </h6>
                            }
                            else
                            {
                                <h1 class="grid-title">
                                    Cubículo No.
                                </h1>
                                <h1>
                                    @Html.DisplayFor(model => model.Cubiculo.Descripcion)
                                </h1>
                            }

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 equel-grid" style="text-align:center">
                    <div class="col-md-3 col-sm-3 grid">
                        <div class="grid-body">
                            <h1 class="grid-title">
                                Estado de la reservación
                            </h1>
                            @if ((Model.Estatus) == "Activa    ")
                            {
                                <br />
                                <a href="#">
                                    <div class="item-wrapper">
                                        <img class="img-lg mt-1 mb-1 mr-2" src="~/Content/images/Check.png" alt="" width="200">
                                    </div>
                                </a>
                                <br />
                                <br />
                                <br />
                                <p>
                                    Próxima
                                </p>
                                <br />
                                <p>

                                    @if (User.IsInRole("Operador"))
                                    {
                                        <div class="row" style="justify-content:space-around">
                                            <input type="button" class="btn btn-success" id="DarEntrada" value="Dar entrada" />
                                            <input type="button" class="btn btn-danger" id="Rechazar" value="Rechazar reservación" />
                                        </div>

                                    }
                                    else
                                    {
                                        <div class="row" style="justify-content:space-around">
                                            @Html.ActionLink("Aceptar", "Aceptar", new { id = Model.ID_Reservacion }, htmlAttributes: new { @class = "btn btn-success" })
                                            @Html.ActionLink("Rechazar", "Rechazar", new { id = Model.ID_Reservacion }, htmlAttributes: new { @class = "btn btn-danger" })

                                        </div>

                                    }
                                </p>
                            }
                            else if ((Model.Estatus) == "Cancelada ")
                            {
                                <br />
                                <a href="#">
                                    <div class="item-wrapper">
                                        <img class="img-lg mt-1 mb-1 mr-2" src="~/Content/images/warning.png" alt="" width="200">

                                    </div>
                                </a>
                                <br />
                                <br />
                                <br />
                                <p>
                                    Cancelada
                                </p>
                            }
                            else if ((Model.Estatus) == "Rechazada ")
                            {
                                <br />
                                <a href="#">
                                    <div class="item-wrapper" style="justify-content:center">
                                        <img class="img-lg mt-1 mb-1 mr-2" src="~/Content/images/Rechazada.png" alt="" width="200">

                                    </div>
                                </a>
                                <br />
                                <br />
                                <br />
                                <p>
                                    Rechazada
                                </p>
                            }
                            else if ((Model.Estatus) == "En espera ")
                            {
                                <br />
                                <a href="#">
                                    <div class="item-wrapper" style="justify-content:center">
                                        <img class="img-lg mt-1 mb-1 mr-2" src="~/Content/images/Wait.png" alt="" width="200">

                                    </div>
                                </a>
                                <br />
                                <br />
                                <br />
                                <p>
                                    En espera de disponibilidad
                                </p>
                                <br />
                                <p>

                                    @if (User.IsInRole("Operador"))
                                    {
                                        <div class="row" style="justify-content:space-around">
                                            <input type="button" class="btn btn-success" id="DarEntrada2" value="Dar entrada" />
                                            <input type="button" class="btn btn-danger" id="Rechazar" value="Rechazar reservación" />
                                        </div>

                                    }
                                    else
                                    {
                                        <input type="button" class="btn btn-danger" id="Cancelar" value="Cancelar reservación" />

                                    }
                                </p>
                            }
                            else if ((Model.Estatus) == "EnCurso   ")
                            {
                                <br />
                                <a href="#">
                                    <div class="item-wrapper" style="justify-content:center">
                                        <img class="img-lg mt-1 mb-1 mr-2" src="~/Content/images/EnCurso.png" alt="" width="200">

                                    </div>
                                </a>
                                <br />
                                <br />
                                <br />
                                <p>
                                    En curso
                                </p>
                            }
                            else
                            {
                                <br />
                                <a href="#">
                                    <div class="item-wrapper">
                                        <img class="img-lg mt-1 mb-1 mr-2" src="~/Content/images/Check.png" alt="" width="200">

                                    </div>
                                </a>
                                <br />
                                <p>
                                    Completada
                                </p>
                            }


                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 equel-grid" style="text-align:center">
                    <div class="grid">
                        <div class="grid-body">
                            <div class="split-header">
                                <p class="card-title">
                                    <img class="img-sm mt-1 mb-1 mr-2" src="~/Content/images/Participantes.png" alt="" width="25">Participantes
                                </p>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-trasnparent action-btn btn-xs component-flat pr-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="mdi mdi-dots-vertical"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="vertical-timeline-wrapper">
                                <div class="timeline-vertical dashboard-timeline">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Matrícula/Cédula</th>
                                                <th>Estatus</th>
                                            </tr>
                                        </thead>

                                        <tbody id="linea">
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="viewport-header">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb has-arrow">
                        <li class="breadcrumb-item">
                            <a href="@Url.Action("Index", "Home")">Inicio</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="@Url.Action("Index", "Reservaciones")">Mi espacio</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Detalles de reservación</li>
                    </ol>
                </nav>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 equel-grid" style="text-align:center">
                    <div class="col-md-3 col-sm-3 grid">
                        <div class="grid-body">
                            <h1 class="grid-title">
                                Fecha
                            </h1>
                            <a href="#">
                                <div class="item-wrapper">

                                </div>
                            </a>
                            <p>

                            </p>
                            <p>
                                @{

                                    var fecha = Model.Fecha.Date.ToShortDateString();
                                    @Html.DisplayFor(m => fecha)


                                }

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 equel-grid" style="text-align:center; display:none ">
                    <div class="col-md-3 col-sm-3 grid">
                        <div class="grid-body">
                            <p>
                                <input type="text" id="idres" value="@Html.DisplayFor(model => model.ID_Reservacion)" />
                                <input type="text" id="idcub" value="@Html.DisplayFor(model => model.ID_Cubiculo)" />
                                <input type="text" id="HEntrada" value="@Html.DisplayFor(model => model.HEntrada)" />
                                <input type="text" id="Fecha" value="@Html.DisplayFor(model => model.Fecha)" />
                                <input type="text" id="msg" value="" style="display:none" />
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 equel-grid" style="text-align:center">
                    <div class="col-md-3 col-sm-3 grid">
                        <div class="grid-body">
                            <h1 class="grid-title">
                                Horario
                            </h1>
                            <a href="#">
                                <div class="item-wrapper">
                                </div>
                            </a>
                            <p>
                                @Html.DisplayFor(model => model.HEntrada)  -  @Html.DisplayFor(model => model.HSalida)

                            </p>


                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 equel-grid" style="text-align:center">
                    <div class="col-md-3 col-sm-3 grid">
                        <div class="grid-body">
                            @if (((Model.Estatus) == "En espera "))
                            {
                                <h1 class="grid-title">
                                    Cubículo
                                </h1>
                                <h6>
                                    Por asignar.
                                </h6>
                            }
                            else
                            {
                                <h1 class="grid-title">
                                    Cubículo No.
                                </h1>
                                <h1>
                                    @Html.DisplayFor(model => model.Cubiculo.Descripcion)
                                </h1>
                            }

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 equel-grid" style="text-align:center">
                    <div class="col-md-3 col-sm-3 grid">
                        <div class="grid-body">
                            <h1 class="grid-title">
                                Estado de la reservación
                            </h1>
                            @if ((Model.Estatus) == "Activa    ")
                            {
                                <br />
                                <a href="#">
                                    <div class="item-wrapper">
                                        <img class="img-lg mt-1 mb-1 mr-2" src="~/Content/images/Check.png" alt="" width="200">
                                    </div>
                                </a>
                                <br />
                                <br />
                                <br />
                                <p>
                                    Próxima
                                </p>
                                <br />
                                <p>

                                    @if (User.IsInRole("Operador"))
                                    {
                                        <div class="row" style="justify-content:space-around">
                                            <input type="button" class="btn btn-success" id="DarEntrada" value="Dar entrada" />
                                            <input type="button" class="btn btn-danger" id="Rechazar" value="Rechazar reservación" />
                                        </div>

                                    }
                                    else
                                    {
                                        <input type="button" class="btn btn-danger" id="Cancelar" value="Cancelar reservación" />

                                    }
                                </p>
                            }
                            else if ((Model.Estatus) == "Cancelada ")
                            {
                                <br />
                                <a href="#">
                                    <div class="item-wrapper">
                                        <img class="img-lg mt-1 mb-1 mr-2" src="~/Content/images/warning.png" alt="" width="200">

                                    </div>
                                </a>
                                <br />
                                <br />
                                <br />
                                <p>
                                    Cancelada
                                </p>
                            }
                            else if ((Model.Estatus) == "Rechazada ")
                            {
                                <br />
                                <a href="#">
                                    <div class="item-wrapper" style="justify-content:center">
                                        <img class="img-lg mt-1 mb-1 mr-2" src="~/Content/images/Rechazada.png" alt="" width="200">

                                    </div>
                                </a>
                                <br />
                                <br />
                                <br />
                                <p>
                                    Rechazada
                                </p>
                            }
                            else if ((Model.Estatus) == "En espera ")
                            {
                                <br />
                                <a href="#">
                                    <div class="item-wrapper" style="justify-content:center">
                                        <img class="img-lg mt-1 mb-1 mr-2" src="~/Content/images/Wait.png" alt="" width="200">

                                    </div>
                                </a>
                                <br />
                                <br />
                                <br />
                                <p>
                                    En espera de disponibilidad
                                </p>
                                <br />
                                <p>

                                    @if (User.IsInRole("Operador"))
                                    {
                                        <div class="row" style="justify-content:space-around">
                                            <input type="button" class="btn btn-success" id="DarEntrada2" value="Dar entrada" />
                                            <input type="button" class="btn btn-danger" id="Rechazar" value="Rechazar reservación" />
                                        </div>

                                    }
                                    else
                                    {
                                        <input type="button" class="btn btn-danger" id="Cancelar" value="Cancelar reservación" />

                                    }
                                </p>
                            }
                            else if ((Model.Estatus) == "EnCurso   ")
                            {
                                <br />
                                <a href="#">
                                    <div class="item-wrapper" style="justify-content:center">
                                        <img class="img-lg mt-1 mb-1 mr-2" src="~/Content/images/EnCurso.png" alt="" width="200">

                                    </div>
                                </a>
                                <br />
                                <br />
                                <br />
                                <p>
                                    En curso
                                </p>
                            }
                            else
                            {
                                <br />
                                <a href="#">
                                    <div class="item-wrapper">
                                        <img class="img-lg mt-1 mb-1 mr-2" src="~/Content/images/Check.png" alt="" width="200">

                                    </div>
                                </a>
                                <br />
                                <p>
                                    Completada
                                </p>
                            }


                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 equel-grid" style="text-align:center">
                    <div class="grid">
                        <div class="grid-body">
                            <div class="split-header">
                                <p class="card-title">
                                    <img class="img-sm mt-1 mb-1 mr-2" src="~/Content/images/Participantes.png" alt="" width="25">Participantes
                                </p>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-trasnparent action-btn btn-xs component-flat pr-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="mdi mdi-dots-vertical"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="vertical-timeline-wrapper">
                                <div class="timeline-vertical dashboard-timeline">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr style="text-align:center">
                                                <th>Nombre</th>
                                                <th>Matricula/Cédula</th>
                                                <th>Estatus</th>
                                            </tr>
                                        </thead>

                                        <tbody id="linea">
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        }

    }


</div>
@*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Reservacion }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    //Dar entrada
    function DarEntrada(data) {
        swal({
            title: "¿Estás seguro?",
            text: "Al seleccionar OK se dará inicio a esta reservación",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    return $.ajax({
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        type: 'POST',
                        url: "/Reservaciones/DarEntrada",
                        data: data,
                        success: function (res) {
                            swal("¡Listo!", "Reservación en curso", "success")
                                .then((value) => {
                                    location.reload();
                                });
                        },
                        error: function () {
                            swal("Error", "Datos erróneos", "danger")
                                .then((value) => {
                                    location.reload();
                                });
                        }
                    });
                }
            });
    }
    $("#DarEntrada").one('click', function (e) {
        e.preventDefault();

        if ($.trim($("#idres").val()) == "") return;

        var data = JSON.stringify({
            idres: $("#idres").val(),
            idcub: $("#idcub").val(),
            HEntrada: $("#HEntrada").val(),
            Fecha: $("#Fecha").val(),
        });

        console.log(data);

        $.when(DarEntrada(data)).then(function (response) {
            console.log(response);
        }).fail(function (err) {
            console.log(err);
        });
    });

</script>


<script>
    //Rechazar
    function Rechazar(data) {
        swal({
            title: "¿Estás seguro?",
            text: "Al seleccionar OK se rechazará esta reservación",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    return $.ajax({
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        type: 'POST',
                        url: "/Reservaciones/Rechazar",
                        data: data,
                        success: function (res) {
                            swal("¡Listo!", "Reservación rechazada", "success")
                                .then((value) => {
                                    location.reload();
                                });
                        },
                        error: function () {
                            swal("Error", "Datos erróneos", "danger")
                                .then((value) => {
                                    location.reload();
                                });
                        }
                    });
                }
            });
    }
    $("#Rechazar").one('click', function (e) {
        e.preventDefault();

        if ($.trim($("#idres").val()) == "") return;

        var data = JSON.stringify({
            idres: $("#idres").val(),
            idcub: $("#idcub").val(),
            HEntrada: $("#HEntrada").val(),
            Fecha: $("#Fecha").val(),
        });

        console.log(data);

        $.when(Rechazar(data)).then(function (response) {
            console.log(response);
        }).fail(function (err) {
            console.log(err);
        });
    });

</script>


<script>
    //Cancelar
    function Cancelar(data) {
        swal({
            title: "¿Estás seguro?",
            text: "Al seleccionar OK se cancelará esta reservación",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    return $.ajax({
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        type: 'POST',
                        url: "/Reservaciones/Cancelar",
                        data: data,
                        success: function (res) {
                            swal("¡Listo!", "Reservación cancelada", "success")
                                .then((value) => {
                                    location.reload();
                                });
                        },
                        error: function () {
                            swal("Error", "Datos erróneos", "danger")
                                .then((value) => {
                                    location.reload();
                                });
                        }
                    });

                }
            });














    }
    $("#Cancelar").one('click', function (e) {
        e.preventDefault();

        if ($.trim($("#idres").val()) == "") return;

        var data = JSON.stringify({
            idres: $("#idres").val(),
            idcub: $("#idcub").val(),
            HEntrada: $("#HEntrada").val(),
            Fecha: $("#Fecha").val(),
        });

        console.log(data);

        $.when(Cancelar(data)).then(function (response) {
            console.log(response);
        }).fail(function (err) {
            console.log(err);
        });
    });

</script>


<script>
    //Dar entrada
    function Completar(data) {
        swal({
            title: "¿Estás seguro?",
            text: "Al seleccionar OK se finalizará esta reservación",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    return $.ajax({
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        type: 'POST',
                        url: "/Reservaciones/Completar",
                        data: data,
                        success: function (res) {
                            swal("¡Listo!", "Reservación finalizada", "success")
                                .then((value) => {
                                    location.reload();
                                });
                        },
                        error: function () {
                            swal("Error", "Datos erróneos", "danger")
                                .then((value) => {
                                    location.reload();
                                });
                        }
                    });
                }
            });
    }
    $("#Completar").one('click', function (e) {
        e.preventDefault();

        if ($.trim($("#idres").val()) == "") return;

        var data = JSON.stringify({
            idres: $("#idres").val(),
            idcub: $("#idcub").val(),
            HEntrada: $("#HEntrada").val(),
            Fecha: $("#Fecha").val(),
        });

        console.log(data);

        $.when(Completar(data)).then(function (response) {
            console.log(response);
        }).fail(function (err) {
            console.log(err);
        });
    });

</script>


<script>
    //Consultar cubículos
    function Disponi(data) {
        swal({
            title: "¿Estás seguro?",
            text: "Al seleccionar OK se dará inicio a esta reservación",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    return $.ajax({
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        type: 'POST',
                        url: "/Reservaciones/Consultar",
                        data: data,
                        success: function (result2) {
                            console.log(result2)
                            $('#msg').val(result2);
                            if ($("#msg").val() == "¡Cubículos disponibles!") {
                                //alert("Disponibles")
                                if ($.trim($("#idres").val()) == "") return;

                                var data = JSON.stringify({
                                    idres: $("#idres").val(),
                                    HEntrada: $("#HEntrada").val(),
                                    HSalida: $("#HSalida").val(),

                                });

                                console.log(data);

                                $.when(Asignar(data)).then(function (response) {
                                    console.log(response);
                                }).fail(function (err) {
                                    console.log(err);
                                });


                                function Asignar(data) {
                                    return $.ajax({

                                        contentType: 'application/json; charset=utf-8',
                                        dataType: 'json',
                                        type: 'POST',
                                        url: "/Reservaciones/AsignarCubiculo",
                                        data: data,
                                        success: function (result2) {
                                            swal();
                                            swal("¡Listo!", "Reservación realizada", "success")
                                                .then((value) => {
                                                    location.reload();
                                                });


                                        },
                                        error: function () {
                                            swal("¡Error!", "Favor verificar los datos", "warning");
                                        }
                                    });
                                }

                            }
                            else {

                                swal("¡Ups!", "No hay cubiculos disponibles", "warning");

                            }
                        },
                        error: function () {
                            alert("Error! Verificar datos")
                        }
                    });
                }
            });
    };
    $("#DarEntrada2").click(function (e) {
        e.preventDefault();

        if ($.trim($("#HEntrada").val()) == "") return;

        var data = JSON.stringify({
            HEntrada: $("#HEntrada").val(),

        });

        //console.log(data);

        $.when(Disponi(data)).then(function (response) {
            console.log(response);
        }).fail(function (err) {
            console.log(err);
        });
    });

</script>

@*<script>

    function Invitados(data) {
        debugger
        return $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'GET',
            url: "/Reservaciones/ConsInvitados",
            data: data,
            success: function (Inv) {
                console.log(Inv)
            },
            error: function () {
                console.log(Inv)
            }
        });
    };

    window.onload(function (e) {
        debugger
        e.preventDefault();

        if ($.trim($("#idres").val()) == "") return;

        var data = JSON.stringify({
            idres: $("#idres").val(),
        });

        console.log(data);

        $.when(Invitados(data)).then(function (response) {
            console.log(response);
        }).fail(function (err) {
            console.log(err);
        });
    });

</script>*@




<script>
    //consultar cubículos
    $(window).on("load", function () {
        var data = JSON.stringify({
            idres: $("#idres").val(),
        });

        //console.log(data);

        $.when(Invitados(data)).then(function (response) {
            //console.log(response);
        }).fail(function (err) {
            console.log(err);
        });
    });



    function Invitados(data) {
        return $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'POST',
            url: "/Reservaciones/ConsInvitados",
            data: data,
            success: function (Usuarios) {
                //data = JSON.parse(Usuarios);
                //console.log(Usuarios)
                //console.log(myJSON)

                //console.log(mymodel.RU2)

                //Muestra internos
                for (var i = 0; i < Usuarios.length; i++) {

                    //console.log(Usuarios[0]);
                    $('#linea').prepend('<tr id=L'+i+'></tr>');

                    for (var j = 0; j < Usuarios[i].length; j++) {
                        $('#L' + i + '').append('<td><p>' + Usuarios[i][j]+'</p></td>');

                    }
                }
                //$.each(Usuarios, function (i, value) {
                //    //alert('Value of ' + i + ' is : ' + value.Estatus);
                //    console.log(Usuarios[0],[2]);
                //    //$('#Cubiculos2').append('<div class="col-lg-3 col-md-3 col-sm-3 equel-grid" style="text-align:center; display:block" id="Cub' + i + '"><div class="col-md-3 col-sm-3 grid"><div class="grid-body"><h1 class= "grid-title" >Cubículo ' + value.Descripcion + '</h1><a href="#"><div class="item-wrapper"><img class="img-xl mt-1 mb-1 mr-2" src="/Content/images/Disponible.jpg"></div></a><p>Capacidad: ' + value.Capacidad + ' Personas</p><p>Estado: Disponible</p></div></div></div>');

                //})
                for (var j = 0; j < Usuarios.Length; j++) {
                    for (var k = 0; k < Usuarios[j].Length; k++) {
                        console.log(Usuarios[j][k]);
                    }
                }
                ////Muestra externos
                //for (var i = 0; i < mymodel.RU2.length; i++) {

                //    //console.log(mymodel.RU2[i].NombreInvitado);
                //    //console.log(mymodel.RU2[i].CedulaInvitado);

                //}
                //$.each(mymodel.RU2, function (i, value) {
                //    //alert('Value of ' + i + ' is : ' + value.Estatus);
                //    //console.log(mymodel.RU2[i].NombreInvitado);
                //    //$('#Cubiculos2').append('<div class="col-lg-3 col-md-3 col-sm-3 equel-grid" style="text-align:center; display:block" id="Dis' + i + '"><div class="col-md-3 col-sm-3 grid"><div class="grid-body"><h1 class= "grid-title" >Cubículo ' + value.Descripcion + '</h1><a href="#"><div class="item-wrapper"><img class="img-xl mt-1 mb-1 mr-2" src="/Content/images/Reservado.jpg"></div><br/></a><p>Estado: Reservado</p></div></div></div>');

                //})


            },
            error: function () {
                alert("ERROR")

            }
        });
    }



</script>

@{var usr = User.Identity.GetUserId(); }
@if (Model.IdAspNetUsers != usr)
{
    <script>
        $(window).on("load", function () {
            var data = JSON.stringify({
                IdAspNetUsers2: $("#IdAspNetUsers2").val(),
            });

            //console.log(data);

            $.when(ConsMat(data)).then(function (response) {
                //console.log(response);
            }).fail(function (err) {
                console.log(err);
            });

        });

        function ConsMat(data) {
            return $.ajax({

                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: "/Reservaciones/Usuario4",
                data: data,
                success: function (result3) {
                    //alert(result3[0])
                    //data = JSON.parse(data);
                    //console.log(result3[0])
                    $("#IdAspNetNombre2").val($.trim(result3[0]) + " " + result3[1]);
                    $('#NSolicitante').append($.trim(result3[0]) + " " + result3[1]);

                },
                error: function () {
                    
                }
            });

        }

    </script>
}
else
{
    <script>
        $(window).on("load", function () {
            var data = JSON.stringify({
                IdAspNetUsers2: $("#IdAspNetUsers2").val(),
            });

            //console.log(data);

            $.when(ConsMat(data)).then(function (response) {
                //console.log(response);
            }).fail(function (err) {
                console.log(err);
            });

        });

        function ConsMat(data) {
            return $.ajax({

                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: "/Reservaciones/Usuario4",
                data: data,
                success: function (result3) {
                    //alert(result3[0])
                    //data = JSON.parse(data);
                    //console.log(result3[0])
                    $("#IdAspNetNombre2").val($.trim(result3[0]) + " " + result3[1]);
                    $('#NSolicitante').append($.trim(result3[0]) + " " + result3[1]);

                },
                error: function () {
                    
                }
            });

        }

    </script>
}


