@model IEnumerable<SIREON.Reservacione>
@{
    ViewBag.Title = "Reservaciones | SIREON";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @if ((User.IsInRole("Operador")))
    {
        <style>

            table {
                display: block;
                height: 300px;
                overflow: auto;
            }
        </style>
    }
    else
    {
        <style>

            table {
                display: block;
                height: 300px;
                overflow: auto;
            }
        </style>
    }

</head>
<body>

    @if (User.Identity.IsAuthenticated)
    {
        if ((User.IsInRole("Operador")))
        {
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 equel-grid">
                    <div class="grid">
                        <div class="grid-body">
                            <h2 class="grid-title">Acciones</h2>
                            <div class="item-wrapper">
                                <div class="row" style="justify-content:space-evenly">
                                    <a href="@Url.Action("CreateOP", "Reservaciones")" class="btn btn-success has-icon"><i class="mdi mdi-calendar-plus"></i>Nueva reservación</a>
                                    <a href='@Url.Action("Cola", "Reservaciones")' class="btn btn-warning has-icon"><i class="mdi mdi-clock-alert"></i>En espera</a>
                                    <a href='@Url.Action("Index", "ListaNegra")' class="btn btn-danger has-icon"><i class="mdi mdi-account-off"></i>Lista Negra</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="col-lg-12">
                <div class="grid">
                    <p class="grid-header" style="border-left-color:green">Reservaciones en curso</p>
                    <div class="item-wrapper">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            Fecha
                                        </th>
                                        <th>
                                            Hora solicitada
                                        </th>
                                        <th>
                                            Hora de entrada
                                        </th>
                                        <th>
                                            Hora de salida
                                        </th>
                                        <th>
                                            Cubículo No.
                                        </th>
                                        <th>
                                            Estatus de reservación
                                        </th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.FechaSolicitada)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.HSolicitada)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.HEntrada)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.HSalida)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ID_Cubiculo)
                                        </td>
                                        <td>

                                            @{
                                                if (item.Estatus == "Activa    ")
                                                {
                                                    <label class="badge badge-info">Activa</label>
                                                }
                                                else if (item.Estatus == "Cancelada ")
                                                {
                                                    <label class="badge badge-warning">Cancelada</label>
                                                }
                                                else if (item.Estatus == "Rechazada ")
                                                {
                                                    <label class="badge badge-danger">Rechazada</label>
                                                }
                                                else
                                                {
                                                    <label class="badge badge-success">Completada</label>
                                                }
                                            }


                                        </td>
                                        <td>

                                            @Html.ActionLink("Detalles", "Details", new { id = item.ID_Reservacion }, htmlAttributes: new { @class = "btn btn-default" })

                                        </td>
                                        <td>

                                            @{
                                                if (item.Estatus == "Activa    ")
                                                {
                                                    @Html.ActionLink("Rechazar", "Details", new { id = item.ID_Reservacion }, htmlAttributes: new { @class = "btn btn-danger" })

                                                }
                                                else
                                                {
                                                    <button class="btn btn-danger" disabled>Rechazar</button>

                                                }
                                            }


                                        </td>
                                    </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="col-lg-12">
                <div class="grid">
                    <p class="grid-header" style="border-left-color:green">Histórico</p>
                    <div class="item-wrapper">
                        <div class="row" style="justify-content:space-around">
                            <div class="form-group input-rounded col-lg-3 col-md-3 col-sm-3">
                                <input type="text" class="form-control input-rounded" id="buscar" placeholder="Buscar" />
                            </div>
                            
                            <div class="btn-group mb-0" data-toggle="checkbox">
                                <label class="btn btn-success active" id="ch1">
                                    <input type="checkbox" id="chh1" class="name" name="name" value="Completada">
                                    <i class="mdi mdi-check"></i>Completada
                                </label>
                                <label class="btn btn-success active" id="ch2">
                                    <input type="checkbox" id="chh2" class="name" name="name" value="Cancelada">
                                    <i class="mdi mdi-delete-forever"></i>Cancelada
                                </label>
                                <label class="btn btn-success active" id="ch3">
                                    <input type="checkbox" id="chh3" class="name" name="name" value="Rechazada">
                                    <i class="mdi mdi-cancel"></i>Rechazada
                                </label>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped" id="example">
                                <thead>
                                    <tr>
                                        <th>
                                            Solicitante
                                        </th>
                                        <th>
                                            Operador
                                        </th>
                                        <th>
                                            Fecha
                                        </th>
                                        <th>
                                            Hora de entrada
                                        </th>
                                        <th>
                                            Hora de salida
                                        </th>

                                        <th>
                                            Cubículo No.
                                        </th>
                                        <th>
                                            Estatus de Reservación
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="myTable">
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.IdAspNetUsers)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ID_Empleado)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FechaSolicitada)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.HEntrada)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.HSalida)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Cubiculo.Descripcion)
                                            </td>
                                            <td>
                                                
                                                @{
                                                    if (item.Estatus == "Activa    ")
                                                    {
                                                        <label class="badge badge-info">Activa</label>
                                                    }
                                                    else if (item.Estatus == "Cancelada ")
                                                    {
                                                        <label class="badge badge-warning">Cancelada</label>
                                                    }
                                                    else if (item.Estatus == "Rechazada ")
                                                    {
                                                        <label class="badge badge-danger">Rechazada</label>
                                                    }
                                                    else
                                                    {
                                                        <label class="badge badge-success">Completada</label>
                                                    }
                                                }

                                            </td>
                                            <td>
                                                @*@Html.ActionLink("Edit", "Edit", new { id = item.ID_Reservacion }) |*@
                                                @Html.ActionLink("Detalles", "Details", new { id = item.ID_Reservacion }, htmlAttributes: new { @class = "btn btn-default" })
                                                @*@Html.ActionLink("Delete", "Delete", new { id = item.ID_Reservacion })*@
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br />
                <br />
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 equel-grid" style="text-align:center">
                    <div class="col-md-3 col-sm-3 grid">
                        <div class="grid-body">
                            <p>
                                <a>

                                </a>
                            </p>
                            <h1 class="grid-title">
                                Nueva reservacion
                            </h1>
                            <p>
                                <a href="@Url.Action("Create", "Reservaciones")" class="btn btn-success has-icon"><i class="mdi mdi-calendar"></i>Nueva reservación</a>
                            </p>
                            <p>
                                <a>

                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 equel-grid" style="text-align:center">
                    <div class="col-md-3 col-sm-3 grid">
                        <div class="grid-body">
                            <p>
                                <a>

                                </a>
                            </p>

                            @{
                                var CantRes = 0;
                                foreach (var itemm in Model)
                                {
                                    CantRes = CantRes + 1;
                                }
                                <h1>
                                    @CantRes
                                </h1>

                            }


                            <p>
                                <a>

                                </a>
                            </p>
                            <p>
                                Reservaciones realizadas
                            </p>
                            <p>
                                <a>

                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 equel-grid" style="text-align:center">
                    <div class="col-md-3 col-sm-3 grid">
                        <div class="grid-body">
                            <p>
                                <a>

                                </a>
                            </p>
                            <h1>
                                @*@{
                                        int Cont;

                                        foreach (var item in Model)
                                        {
                                            Cont = +1;
                                            if (Cont == 0)
                                            {
                                                @Html.DisplayText("0")
                                            }
                                            else
                                            {
                                                @Html.Display(Convert.ToString(Cont))
                                            }
                                        }
                                    }*@
                                0
                            </h1>
                            <p>
                                <a>

                                </a>
                            </p>
                            <p>
                                Participaciones en otras salas
                            </p>
                            <p>
                                <a>

                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 equel-grid" style="text-align:center">
                    <div class="col-md-3 col-sm-3 grid">
                        <div class="grid-body">
                            <p>
                                <a>

                                </a>
                            </p>
                            <h1 class="grid-title">
                                Invitaciones
                            </h1>
                            <p>
                                <a href="@Url.Action("Invitaciones", "Reservaciones")" class="btn btn-success has-icon"><i class="mdi mdi-calendar"></i>Ver Invitaciones</a>
                            </p>
                            <p>
                                <a>

                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <div class="col-lg-12">
                <div class="grid">
                    <p class="grid-header" style="border-left-color:green">Mis reservaciones</p>
                    <div class="item-wrapper">
                        <div class="table-responsive">
                            <table class="table info-table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            Fecha
                                        </th>
                                        <th>
                                            Hora solicitada
                                        </th>
                                        <th>
                                            Hora de entrada
                                        </th>
                                        <th>
                                            Hora de salida
                                        </th>
                                        <th>
                                            Cubículo
                                        </th>
                                        <th>
                                            Estatus de reservación
                                        </th>

                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{

                                        foreach (var item in Model)
                                        {

                                            <tr>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.FechaSolicitada)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.HSolicitada)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.HEntrada)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.HSalida)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ID_Cubiculo)
                                                </td>
                                                <td>
                                                    @{
                                                        if (item.Estatus == "Activa    ")
                                                        {
                                                            <label class="badge badge-info">Activa</label>
                                                        }
                                                        else if (item.Estatus == "Cancelada ")
                                                        {
                                                            <label class="badge badge-warning">Cancelada</label>
                                                        }
                                                        else if (item.Estatus == "Rechazada ")
                                                        {
                                                            <label class="badge badge-danger">Rechazada</label>
                                                        }
                                                        else
                                                        {
                                                            <label class="badge badge-success">Completada</label>
                                                        }
                                                    }



                                                </td>
                                                <td>

                                                    @Html.ActionLink("Detalles", "Details", new { id = item.ID_Reservacion }, htmlAttributes: new { @class = "btn btn-default" })

                                                </td>
                                                <td>
                                                    @{
                                                        if (item.Estatus == "Activa    ")
                                                        {
                                                            @Html.ActionLink("Cancelar", "Details", new { id = item.ID_Reservacion }, htmlAttributes: new { @class = "btn btn-danger" })

                                                        }
                                                        else
                                                        {
                                                            <button class="btn btn-danger" disabled>Cancelar</button>

                                                        }
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="col-lg-12">
                <div class="grid">
                    <p class="grid-header" style="border-left-color:green">Historial</p>
                    <div class="item-wrapper">
                        <div class="row" style="justify-content:space-around">
                            <div class="form-group input-rounded col-lg-3 col-md-3 col-sm-3">
                                <input type="text" class="form-control input-rounded" id="buscar" placeholder="Buscar" />
                            </div>

                            <div class="btn-group mb-0" data-toggle="checkbox">
                                <label class="btn btn-success active" id="ch1">
                                    <input type="checkbox" id="chh1" class="name" name="name" value="Completada">
                                    <i class="mdi mdi-check"></i>Completada
                                </label>
                                <label class="btn btn-success active" id="ch2">
                                    <input type="checkbox" id="chh2" class="name" name="name" value="Cancelada">
                                    <i class="mdi mdi-delete-forever"></i>Cancelada
                                </label>
                                <label class="btn btn-success active" id="ch3">
                                    <input type="checkbox" id="chh3" class="name" name="name" value="Rechazada">
                                    <i class="mdi mdi-cancel"></i>Rechazada
                                </label>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table info-table table-striped" style="height: 240px;" id="example">
                                <thead>
                                    <tr>
                                        <th>
                                            Facilitador
                                        </th>
                                        <th>
                                            Fecha
                                        </th>
                                        <th>
                                            Hora solicitada
                                        </th>
                                        <th>
                                            Hora de entrada
                                        </th>
                                        <th>
                                            Hora de salida
                                        </th>

                                        <th>
                                            Cubículo No.
                                        </th>
                                        <th>
                                            Estatus de reservación
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="myTable">
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ID_Empleado)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FechaSolicitada)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.HSolicitada)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.HEntrada)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.HSalida)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Cubiculo.Descripcion)
                                            </td>
                                            <td>
                                                @{
                                                    if (item.Estatus == "Activa    ")
                                                    {
                                                        <label class="badge badge-info">Activa</label>
                                                    }
                                                    else if (item.Estatus == "Cancelada ")
                                                    {
                                                        <label class="badge badge-warning">Cancelada</label>
                                                    }
                                                    else if (item.Estatus == "Rechazada ")
                                                    {
                                                        <label class="badge badge-danger">Rechazada</label>
                                                    }
                                                    else
                                                    {
                                                        <label class="badge badge-success">Completada</label>
                                                    }
                                                }

                                                
                                            </td>
                                            <td>
                                               
                                                @Html.ActionLink("Detalles", "Details", new { id = item.ID_Reservacion }, htmlAttributes: new { @class = "btn btn-default" })
                                                
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row row-m-t"></div>
                <div class="row row-m-t"></div>
                
            </div>
        }

    }
    else
    {

    }



</body>
</html>

<script>
    $(document).ready(function () {
        $(".name").on("click", function () {
            name_list = []
            $("#myTable tr").hide()
            var flag = 1
            $("input:checkbox[name=name]:checked").each(function () {
                flag = 0;
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    if ($(this).text().toLowerCase().indexOf(value) > -1)
                        $(this).show()

                });


            });
            if (flag == 1) {
                $("#myTable tr").show();
            }


        });
    });


    $(document).ready(function () {
        $(".form-control").on('keyup change', function () {
            name_list = []
            $("#myTable tr").hide()
            flag = 0;
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                if ($(this).text().toLowerCase().indexOf(value) > -1)
                    $(this).show()

            });
            if (flag == 1) {
                $("#myTable tr").show();
            }


        });
    });

    //$(document).ready(function () {

    //    $('#chh1').change(function () {
    //        if (this.checked) {
    //            $("#ch1").addClass("btn btn-info active");
    //        }
    //        else{
    //            $("#ch1").addClass("btn btn-info");
    //        }

    //    });
    //    $('#chh2').change(function () {
    //        if (this.checked) {
    //            $("#ch2").addClass("btn btn-info active");
    //        }
    //        else {
    //            $("#ch2").addClass("btn btn-info");
    //        }

    //    });
    //    $('#chh3').change(function () {
    //        if (this.checked) {
    //            $("#ch3").addClass("btn btn-info active");
    //        }
    //        else {
    //            $("#ch3").addClass("btn btn-info");
    //        }

    //    });
    //});
</script>



