@model IEnumerable<SIREON.Reservacione>

@{
    ViewBag.Title = "Invitaciones | SIREON";
}


<div id="Cubiculos1" style="display:block">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 equel-grid" style="text-align:center">
            <div class="col-md-3 col-sm-3 grid">
                <div class="grid-body">
                    <h3 class="title">
                        Ver historial
                    </h3>
                    <br />
                    <br />
                    <a href="@Url.Action("Invitaciones2", "Reservaciones")">
                        <div class="item-wrapper">
                            <img class="img-xl mt-1 mb-1 mr-2" src="~/Content/images/inviteH.png" id="Disp" alt="" width="100">
                        </div>
                    </a>

                </div>
            </div>
        </div>
        @{var p = 0; }
        @foreach (var item in Model)
        {

            p = p + 1;

            <div class="col-lg-3 col-md-3 col-sm-3 equel-grid" style="text-align:center">
                <div class="col-md-3 col-sm-3 grid">
                    <div class="grid-body">
                        <h1 class="grid-title">
                            Invitación a reservación  @*@Html.DisplayFor(modelItem => item.AspNetUser.Email)*@
                        </h1>
                        <a href="@Url.Action("details", "Reservaciones", new { id=item.ID_Reservacion })">
                            <div class="item-wrapper">
                                <img class="img-xl mt-1 mb-1 mr-2" src="~/Content/images/invite.png" id="Disp" alt="" width="100">
                            </div>
                        </a>
                        <br />

                        <p>
                            @Html.DisplayFor(modelItem => item.HEntrada) - @Html.DisplayFor(modelItem => item.HSalida)
                        </p>
                        <p>
                            Estado: @Html.DisplayFor(modelItem => item.Estatus)
                        </p>
                    </div>
                </div>
            </div>


        }
        @if (p != 0)
        {
            <div class="col-lg-12">
                <div class="grid" style=" box-shadow: 0 0 10px -5px #bcbebf;">
                    <p class="grid-header" style="border-left-color:orange">Invitaciones a otras reservaciones</p>
                    <div class="item-wrapper">
                        <div class="row" style="justify-content:left">
                            <div class="form-group input-rounded col-lg-1 col-md-1 col-sm-1">

                            </div>
                            <div class="form-group input-rounded col-lg-3 col-md-3 col-sm-3">
                                <input type="text" class="form-control input-rounded" id="buscar" placeholder="Buscar" />
                            </div>

                            @*<div class="btn-group mb-0" data-toggle="checkbox">
                                <label class="btn btn-success active" id="ch1">
                                    <input type="checkbox" id="chh1" class="name" name="name" value="Completada">
                                    <i class="mdi mdi-check"></i>Completada
                                </label>
                                <label class="btn btn-success active" id="ch2">
                                    <input type="checkbox" id="chh2" class="name" name="name" value="Cancelada">
                                    <i class="mdi mdi-delete-forever"></i>Cancelada
                                </label>
                                <label class="btn btn-success active" id="ch3">
                                    <input type="checkbox" id="chh3" class="name" name="name" value="Rechazada">
                                    <i class="mdi mdi-cancel"></i>Rechazada
                                </label>
                            </div>*@
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped" id="example">
                                <tr>
                                    <th>
                                        Titular
                                    </th>
                                    <th>
                                        Fecha
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.HEntrada)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.HSalida)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Estatus)
                                    </th>
                                    <th>
                                        Cubículo No.
                                    </th>

                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @{
                                                string str = item.AspNetUser.Email.Substring(0, 9);
                                            }
                                            @str
                                        </td>
                                        <td>
                                            @{

                                                var fecha = item.FechaSolicitada.Date.ToShortDateString();
                                                @Html.DisplayFor(m => fecha)

                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.HEntrada)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.HSalida)
                                        </td>
                                        <td>
                                            @{
                                                if (item.Estatus == "Activa    ")
                                                {
                                                    <label class="badge badge-info">Activa</label>
                                                }
                                                else if (item.Estatus == "Cancelada ")
                                                {
                                                    <label class="badge badge-warning">Cancelada</label>
                                                }
                                                else if (item.Estatus == "Rechazada ")
                                                {
                                                    <label class="badge badge-danger">Rechazada</label>
                                                }
                                                else if (item.Estatus == "En espera ")
                                                {
                                                    <label class="badge badge-warning">En espera</label>
                                                }
                                                else if (item.Estatus == "EnCurso   ")
                                                {
                                                    <label class="badge badge-warning">En curso</label>
                                                }
                                                else
                                                {
                                                    <label class="badge badge-success">Completada</label>
                                                }
                                            }

                                            </td>
                                        @if (item.Estatus == "En espera ")
                                        {
                                            <td>
                                                N/A
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Cubiculo.Descripcion)
                                            </td>
                                        }
                                        
                                    <td>
                                        @Html.ActionLink("Detalles", "Details", new { id = item.ID_Reservacion }, htmlAttributes: new { @class = "btn btn-default" })
                                        @Html.ActionLink("Aceptar", "Aceptar", new { id = item.ID_Reservacion }, htmlAttributes: new { @class = "btn btn-success" })
                                        @Html.ActionLink("Rechazar", "Rechazar", new { id = item.ID_Reservacion }, htmlAttributes: new { @class = "btn btn-danger" })

                                    </td>
                                    </tr>
                                }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }

        else
        {
            <div class="col-lg-9 col-md-9 col-sm-9 equel-grid" style="text-align:center">
                <div class="col-md-3 col-sm-3 grid">
                    <div class="grid-body">
                        <h3 class="title">
                            Actualmente no cuenta con ninguna invitación
                        </h3>
                        <br />
                        <a>
                            <div class="item-wrapper">
                                <img class="img-xl mt-1 mb-1 mr-2" src="~/Content/images/file.jpg" id="Disp" alt="" width="100">
                            </div>
                        </a>

                        <p>

                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


