@model IEnumerable<SIREON.ListaNegra>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="d-flex flex-row mt-5 mb-5">
    <a href='@Url.Action("Create", "ListaNegra")' class="btn btn-success" type="button">Agregar nuevo usuario a la lista</a>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID_ListaN }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID_ListaN }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID_ListaN })
            </td>
        </tr>
    }

</table>
