@model IEnumerable<SIREON.Cubiculo>

@{
    ViewBag.Title = "Disponibilidad | SIREON";
}

<div class="grid">
    <div class="grid-body">
        <h2 class="grid-title">Acciones</h2>
        <div class="item-wrapper">
            <a href="@Url.Action("CreateOP", "Reservaciones")" class="btn btn-success has-icon"><i class="mdi mdi-account-plus-outline"></i>Nueva reservación</a>
        </div>
    </div>
</div>
<br />
<div class="row">
    @{
        foreach (var item in Model)
        {
            if (item.Estatus == "Disponible")
            {
                <div class="col-lg-3 col-md-3 col-sm-3 equel-grid" style="text-align:center">
                    <div class="col-md-3 col-sm-3 grid">
                        <div class="grid-body">
                            <h1 class="grid-title">
                                Cubículo  @Html.DisplayFor(modelItem => item.Descripcion)
                            </h1>
                            <a href="#">
                                <div class="item-wrapper">
                                    <img class="img-xl mt-1 mb-1 mr-2" src="~/Content/images/Disponible.jpg" alt="" width="100">
                                </div>
                            </a>
                            <p>
                                Disponible
                            </p>
                            <p>
                               
                            </p>
                        </div>
                    </div>
                </div>
            }
            else if (item.Estatus == "En uso")
            {
                <div class="col-lg-3 col-md-3 col-sm-3 equel-grid" style="text-align:center">
                    <div class="col-md-3 col-sm-3 grid">
                        <div class="grid-body">
                            <h1 class="grid-title">
                                Cubículo  @Html.DisplayFor(modelItem => item.Descripcion)
                            </h1>
                            <a href="#">
                                <div class="item-wrapper">
                                    <img class="img-xl mt-1 mb-1 mr-2" src="~/Content/images/EnUso.jpg" alt="" width="100">
                                </div>
                            </a>
                            <p>
                                Tiempo restante: @Html.DisplayFor(modelItem => item.Descripcion)
                            </p>
                            <p>
                                Personas dentro: @Html.DisplayFor(modelItem => item.Descripcion)
                            </p>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-lg-3 col-md-3 col-sm-3 equel-grid" style="text-align:center">
                    <div class="col-md-3 col-sm-3 grid">
                        <div class="grid-body">
                            <h1 class="grid-title">
                                Cubículo  @Html.DisplayFor(modelItem => item.Descripcion)
                            </h1>
                            <a href="#">
                                <div class="item-wrapper">
                                    <img class="img-xl mt-1 mb-1 mr-2" src="~/Content/images/Reservado.jpg" alt="" width="100">
                                </div>
                            </a>
                            <p>
                                Tiempo restante: @Html.DisplayFor(modelItem => item.Descripcion)
                            </p>
                            <p>
                                Personas en reservación: @Html.DisplayFor(modelItem => item.Descripcion)
                            </p>
                        </div>
                    </div>
                </div>

            }

        }
    }
</div>



<br />
@*
    <div class="col-lg-12">
        <div class="grid">
            <p class="grid-header" style="border-left-color:green">Cubículos</p>
            <div class="item-wrapper"> 
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Cubículo No.
                                </th>
                                <th>
                                    Capacidad
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Descripcion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Capacidad)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.ID_Cubiculo }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.ID_Cubiculo })
                                    @Html.ActionLink("Delete", "Delete", new { id = item.ID_Cubiculo })
                                    </td>
                                    </tr>
                                    }
                                    </table>
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                                    *@