@model SIREON.Models.CustomModel2cs
@{
    ViewBag.Title = "Home Page";
}
<h2>@ViewBag.Message</h2>

<div class="row">
    
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 equel-grid">
        <div class="grid">
            <div class="grid-body">
                <h2 class="grid-title">Acciones</h2>
                <div class="item-wrapper">
                    <div class="row" style="justify-content:space-evenly">                        
                        <a href="@Url.Action("Create", "Reservaciones")" class="btn btn-success has-icon"><i class="mdi mdi-calendar-plus"></i>Nueva reservación</a>
                        <div class="row col-lg-4 col-md-4 col-sm-4">
                            <select class="custom-select my-1 mr-sm-2" id="Horaentrada" required>
                                <option value="" disabled selected>Buscar por hora...</option>
                                <option value="08:00:00">08:00 AM</option>
                                <option value="08:30:00">08:30 AM</option>
                                <option value="09:00:00">09:00 AM</option>
                                <option value="09:30:00">09:30 AM</option>
                                <option value="10:00:00">10:00 AM</option>
                                <option value="10:30:00">10:30 AM</option>
                                <option value="11:00:00">11:00 AM</option>
                                <option value="11:30:00">11:30 AM</option>
                                <option value="12:00:00">12:00 PM</option>
                                <option value="12:30:00">12:30 PM</option>
                                <option value="13:00:00">01:00 PM</option>
                                <option value="13:30:00">01:30 PM</option>
                                <option value="14:00:00">02:00 PM</option>
                                <option value="14:30:00">02:30 PM</option>
                                <option value="15:00:00">03:00 PM</option>
                                <option value="15:30:00">03:30 PM</option>
                                <option value="16:00:00">04:00 PM</option>
                                <option value="16:30:00">04:30 PM</option>
                                <option value="17:00:00">05:00 PM</option>
                                <option value="17:30:00">05:30 PM</option>
                                <option value="18:00:00">06:00 PM</option>
                                <option value="18:30:00">06:30 PM</option>
                                <option value="19:00:00">07:00 PM</option>
                                <option value="19:30:00">07:30 PM</option>
                                <option value="20:00:00">08:00 PM</option>
                                <option value="20:30:00">08:30 PM</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row" id="Cubiculos2" style="display:none">

</div>
<div id="Cubiculos1" style="display:block">
    <div class="row">
        @foreach (Cubiculo cubiculo in Model.cubiculos)
        {

            <div class="col-lg-3 col-md-3 col-sm-3 equel-grid" style="text-align:center">
                <div class="col-md-3 col-sm-3 grid">
                    <div class="grid-body">
                        <h1 class="grid-title">
                            Cubículo  @Html.DisplayFor(modelItem => cubiculo.Descripcion)
                        </h1>
                        <a href="@Url.Action("edit", "Cubiculos", new { id=cubiculo.ID_Cubiculo })">
                            <div class="item-wrapper">
                                <img class="img-xl mt-1 mb-1 mr-2" src="~/Content/images/Disponible.jpg" id="Disp" alt="" width="100">
                            </div>
                        </a>
                        <p>
                            Capacidad: @Html.DisplayFor(modelItem => cubiculo.Capacidad) Personas
                        </p>
                        <p>
                            Estado: Disponible
                        </p>
                    </div>
                </div>
            </div>

        }

        @foreach (Cubiculo disponibilidad in Model.disponibilidads)
        {
            <div class="col-lg-3 col-md-3 col-sm-3 equel-grid" style="text-align:center">
                <div class="col-md-3 col-sm-3 grid">
                    <div class="grid-body">
                        <h1 class="grid-title">
                            Cubículo  @Html.DisplayFor(modelItem => disponibilidad.Descripcion)
                        </h1>
                        <a href="@Url.Action("edit", "Cubiculos", new { id=disponibilidad.ID_Cubiculo })">
                            <div class="item-wrapper">
                                <img class="img-xl mt-1 mb-1 mr-2" src="~/Content/images/Reservado.jpg" id="Res" alt="" width="100">
                            </div>
                        </a>
                        <p>
                            Estado: Reservado
                        </p>
                    </div>
                </div>
            </div>
        }

        @foreach (Cubiculo ocupado in Model.Ocupado)
        {
            <div class="col-lg-3 col-md-3 col-sm-3 equel-grid" style="text-align:center">
                <div class="col-md-3 col-sm-3 grid">
                    <div class="grid-body">
                        <h1 class="grid-title">
                            Cubículo  @Html.DisplayFor(modelItem => ocupado.Descripcion)
                        </h1>
                        <a href="@Url.Action("edit", "Cubiculos", new { id=ocupado.ID_Cubiculo })">
                            <div class="item-wrapper">
                                <img class="img-xl mt-1 mb-1 mr-2" src="~/Content/images/EnUso.jpg" id="Oc" alt="" width="100">
                            </div>
                        </a>
                        <p>
                            Estado: Ocupado
                        </p>
                    </div>
                </div>
            </div>
        }

    </div>
</div>

<br />
<br />




<script>



    //cosnultar cubículos
    function Consultar(data) {
        return $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'POST',
            url: "/Cubiculos/Disponibilidad2",
            data: data,
            success: function (mymodel) {
                $('#Cubiculos1').hide(0)
                $('#Cubiculos2').show(0)
                //console.log(mymodel.disponibilidads)
                //console.log(mymodel.Ocupado)
                //console.log(mymodel.cubiculos)

                //Muestra Disponibles
                for (var i = 0; i < mymodel.cubiculos.length; i++) {

                    console.log(mymodel.cubiculos[i]);

                }
                $.each(mymodel.cubiculos, function (i, value) {
                    //alert('Value of ' + i + ' is : ' + value.Estatus);

                    $('#Cubiculos2').append('<div class="col-lg-3 col-md-3 col-sm-3 equel-grid" style="text-align:center"><div class="col-md-3 col-sm-3 grid"><div class="grid-body"><h1 class= "grid-title" >Cubículo ' + value.Descripcion + '</h1><a href="#"><div class="item-wrapper"><img class="img-xl mt-1 mb-1 mr-2" src="/Content/images/Disponible.jpg"></div></a><p>Capacidad: ' + value.Capacidad + ' Personas</p><p>Estado: Disponible</p></div></div></div>');

                })

                //Muestra Reservados
                for (var i = 0; i < mymodel.disponibilidads.length; i++) {

                    console.log(mymodel.disponibilidads[i]);

                }
                $.each(mymodel.disponibilidads, function (i, value) {
                    //alert('Value of ' + i + ' is : ' + value.Estatus);

                    $('#Cubiculos2').append('<div class="col-lg-3 col-md-3 col-sm-3 equel-grid" style="text-align:center"><div class="col-md-3 col-sm-3 grid"><div class="grid-body"><h1 class= "grid-title" >Cubículo ' + value.Descripcion + '</h1><a href="#"><div class="item-wrapper"><img class="img-xl mt-1 mb-1 mr-2" src="/Content/images/Reservado.jpg"></div></a><p>Estado: Reservado</p></div></div></div>');

                })

                //Muestra Ocupados
                for (var i = 0; i < mymodel.Ocupado.length; i++) {

                    console.log(mymodel.Ocupado[i]);

                }
                $.each(mymodel.Ocupado, function (i, value) {
                    //alert('Value of ' + i + ' is : ' + value.Estatus);

                    $('#Cubiculos2').append('<div class="col-lg-3 col-md-3 col-sm-3 equel-grid" style="text-align:center"><div class="col-md-3 col-sm-3 grid"><div class="grid-body"><h1 class= "grid-title" >Cubículo ' + value.Descripcion + '</h1><a href="#"><div class="item-wrapper"><img class="img-xl mt-1 mb-1 mr-2" src="~/Content/images/EnUso.jpg" alt="" width="100"></div></a><p>Estado: Ocupado</p></div></div></div>');

                })

            },
            error: function () {
                alert("ERROR")

            }
        });
    }

    $("#Horaentrada").on('change', function () {
        location.reload
        var data = JSON.stringify({
            HEntrada: $("#Horaentrada").val(),

        });

        console.log(data);

        $.when(Consultar(data)).then(function (response) {
            console.log(response);
        }).fail(function (err) {
            console.log(err);
        });
    });

</script>















@*<script>


        //After Click Save Button Pass All Data View To Controller For Save Database
        function Consultar(data) {
            return $.ajax({

                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: "/Cubiculos/Disponibilidad",
                data: data,
                success: function (Busc) {
                    alert(Busc);
                    $('#prueba').append('<div><div class="form-row align-items-center justify-content-between" ><div class="col-lg-3 col-md-3 col-sm-3 my-1"><select class="custom-select my-1 mr-sm-2" id="Invitado1"><option value="1" selected>Estudiante/Profesor</option><option value="2">Invitado</option></select></div><div class="col-lg-3 col-md-3 col-sm-3 my-1"><label class="sr-only" for="inlineFormInputName">Name</label><input type="text" class="form-control" id="inlineFormInputName" placeholder="Gabriela Marte" readonly></div><div class="col-lg-3 col-md-3 col-sm-3 my-1"><label class="sr-only" for="inlineFormInputGroupUsername">Usuario</label><div class="input-group"><div class="input-group-prepend"><img src="~/Content/images/at.png" alt="Matricula" width="33" /></div><input type="text" class="form-control" placeholder="gm20-0469" id="Usuario"></div></div><div class="col-auto my-1"><button onclick="Consultar()" class="btn btn-primary" id="btnConsultar">Consultar</button><button onclick="EliminarIntegrate()" class="btn btn-primary"  style="background-color:darkred" id="btn2">Eliminar</button></div></div></div>');


                },
                error: function () {
                    alert("Error! Verificar datos")
                }
            });
        }


        ////Collect Multiple Order List For Pass To Controller
        $("#Consultar").one('click', function (e) {
            e.preventDefault();

            if ($.trim($("#Horaentrada").val()) == "") return;

            var data = JSON.stringify({
                HEntrada: $("#Horaentrada").val(),

            });

            console.log(data);

            $.when(Consultar(data)).then(function (response) {
                console.log(response);
            }).fail(function (err) {
                console.log(err);
            });
        });




    </script>*@