@model IEnumerable<SIREON.Cubiculo>

@{
    ViewBag.Title = "Index";
}

<div class="grid">
        <div class="grid-body">
            <h2 class="grid-title">Acciones</h2>
            <div class="item-wrapper">
                <a href="@Url.Action("Create", "Cubiculos")" class="btn btn-success has-icon"><i class="mdi mdi-account-plus-outline"></i>Habilitar nuevo Cubículos</a>
            </div>
        </div>
    </div>
<br/>
<div class="row">
    @{
        foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-3 col-sm-3 equel-grid" style="text-align:center">
                <div class="col-md-3 col-sm-3 grid">
                    <div class="grid-body">
                        <h1 class="grid-title">
                            Cubículo  @Html.DisplayFor(modelItem => item.Descripcion)
                        </h1>
                        <a href="#">
                            <div class="item-wrapper">
                                <img class="img-xl mt-1 mb-1 mr-2" src="~/Content/images/CubiculosDisponible.jpg" alt="" width="100">
                            </div>
                        </a>
                        <p>
                            Capacidad: @Html.DisplayFor(modelItem => item.Capacidad)
                        </p>
                    </div>
                </div>
            </div>
        }
    }
</div>
<div class="col-lg-12">
                <div class="grid">
                    <p class="grid-header" style="border-left-color:green">Cubículos</p>
                    <div class="item-wrapper">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            Cubiculo No.
                                        </th>
                                        <th>
                                            Capacidad
                                        </th>
                                        <th>

                                        </th>
                                    </tr>
                                </thead>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Capacidad)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.ID_Cubiculo }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.ID_Cubiculo }) 
                                            @*@Html.ActionLink("Delete", "Delete", new { id = item.ID_Cubiculo })*@
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
        </div>
     