@model  ICollection <SIREON.Models.UserViewModels>


@{
    ViewBag.Title = "Usuarios | SIREON";
}

<div class="container-fluid">
    @using (Html.BeginForm())
    {
        @*<div class="form-group form-inline">
                <div class="form-group">
                    <div>
                        <p class="text-info">Nombre de Usuario</p>
                    </div>
                    <input type="text" placeholder="" id="card" name="user" class="form-control" />
                </div>
                <div class="form-group">
                    <div>
                        <p class="text-info">Rol</p>
                    </div>
                    @Html.DropDownList("Role", null, htmlAttributes: new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <div>
                        <p class="text-info">Acciones</p>
                    </div>
                    <button type="submit" class="btn btn-default" aria-label="Left Align">
                        <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                        Filtrar
                    </button>
                    @Html.ActionLink("Limpiar Filtro", "Index", "Attachments", htmlAttributes: new { @class = "btn btn-default" })
                </div>

            </div>*@
    }

    <div class="grid">
        <div class="grid-body">
            <h2 class="grid-title">Filtros</h2>
            <div class="item-wrapper">
                <div class="demo-wrapper" style="justify-content:space-between">
                    <div class="btn-group mb-0" data-toggle="buttons">
                        <label class="btn btn-info">
                            <input type="checkbox">
                            <i class="mdi mdi-human-greeting"></i>Admins
                        </label>
                        <label class="btn btn-info  active">
                            <input type="checkbox" checked>
                            <i class="mdi mdi-human-male"></i>Opers.
                        </label>
                        <label class="btn btn-info">
                            <input type="checkbox">
                            <i class="mdi mdi-human-handsdown"></i>Usrs.
                        </label>
                    </div>
                    <a href="@Url.Action("Register", "Account")" class="btn btn-success has-icon pull-right"><i class="mdi mdi-account-plus-outline"></i>Crear nuevo usuario</a>
                </div>

            </div>
        </div>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Administradores"))
        {
            <div class="col-lg-12">
                <div class="grid">
                    <p class="grid-header" style="border-left-color:green">Usuarios</p>
                    <div class="item-wrapper">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            Correo
                                        </th>
                                        <th>
                                            Usuario
                                        </th>
                                        <th>
                                            Rol Asignado
                                        </th>
                                        <th>

                                        </th>
                                    </tr>
                            </thead>
                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Role.FirstOrDefault().Name)
                                        </td>
                                        <td>
                                            @*@Html.ActionLink("Editar", "Edit", new { id=item.Id }, htmlAttributes: new {@class="btn btn-primary" }) |*@
                                            @Html.ActionLink("Editar Rol", "Roles", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-default" })
                                            @*@Html.ActionLink("Eliminar", "Delete","Account", new { id=item.Id },htmlAttributes: new { @class = "btn btn-danger" })*@
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }
        else if (User.IsInRole("Operador"))
        {
            <div class="col-lg-12">
                <div class="grid">
                    <p class="grid-header" style="border-left-color:green">Usuarios</p>
                    <div class="item-wrapper">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            Correo
                                        </th>
                                        <th>
                                            Usuario
                                        </th>
                                        <th>

                                        </th>
                                    </tr>
                                </thead>
                                @foreach (var item in Model)
                                    {
                                        <tr>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Email)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Email)
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                    }

                            </table>
                        </div>

                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="col-lg-12">
                <div class="grid">
                    <p class="grid-header" style="border-left-color:green">Usuarios</p>
                    <div class="item-wrapper">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>

                                        </th>
                                        <th>

                                        </th>
                                        <th>

                                        </th>
                                    </tr>
                                </thead>

                                @foreach (var item in Model)
                                    {
                                        <tr>

                                            <td>
                                            </td>
                                            <td>
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                    }

                            </table>
                        </div>
                    </div>
                </div>
            </div>

        }
    }
    else
    {
        <div class="col-lg-12">
            <div class="grid">
                <p class="grid-header" style="border-left-color:green">Usuarios</p>
                <div class="item-wrapper">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>

                                    </th>
                                    <th>

                                    </th>
                                    <th>

                                    </th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <td>
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                }

                        </table>
                    </div>
                </div>
            </div>
        </div>
    }

</div>
