@model SIREON.Models.RegisterViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/Content/vendors/iconfonts/mdi/css/materialdesignicons.css" />
    <link rel="stylesheet" href="~/Content/vendors/css/vendor.addons.css" />
    <!-- endinject -->
    <!-- vendor css for this page -->
    <!-- End vendor css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/Content/css/shared/style.css" />
    <!-- endinject -->
    <!-- Layout style -->
    <link rel="stylesheet" href="~/Content/css/demo_1/style.css">
    <!-- Layout style -->
    <link rel="shortcut icon" href="~/Content/images/favicon.ico" />
</head>
<body>
    <div class="authentication-theme auth-style_1" style="padding: 4% 0 1px 0;">
        <div class="row">
            <div class="col-12 logo-section">
                <a href='@Url.Action("Index", "Home")' class="logo">
                    <img src="~/Content/images/logo2.png" alt="logo" style="width:130%" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-7 col-11 mx-auto">
                <div class="grid">
                    <div class="grid-body">
                        <section id="loginForm">
                            <div class="row">
                                <div class="col-lg-7 col-md-8 col-sm-9 col-12 mx-auto form-wrapper">
                                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <h5 style="text-align:center">Crear cuenta</h5>
                                        
                                        @Html.ValidationSummary("", new { @class = "text-danger" })
                                        <div class="form-group input-rounded">
                                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                            <div class="form-group input-rounded">
                                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group input-rounded">
                                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                            <div class="form-group input-rounded">
                                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group input-rounded">
                                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-12 col-md-12 col-lg-12 control-label" })
                                            <div class="form-group input-rounded">
                                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="form-group input-rounded">
                                            <button type="submit" class="btn btn-primary btn-block" style="background-color:green"> Registrar </button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </section>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--page body ends -->
    <!-- SCRIPT LOADING START FORM HERE /////////////-->
    <!-- plugins:js -->
    <script src="~/Content/vendors/js/core.js"></script>
    <script src="~/Content/vendors/js/vendor.addons.js"></script>
    <!-- endinject -->
    <!-- Vendor Js For This Page Ends-->
    <!-- Vendor Js For This Page Ends-->
    <!-- build:js -->
    <script src="~/Content/js/template.js"></script>
    <!-- endbuild -->
</body>
</html>
