<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/Content/vendors/iconfonts/mdi/css/materialdesignicons.css">
    <!-- endinject -->
    <!-- vendor css for this page -->
    <!-- End vendor css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/Content/css/shared/style.css">
    <!-- endinject -->
    <!-- Layout style -->
    <link rel="stylesheet" href="~/Content/css/demo_/style.css">
    <!-- Layout style -->
    <link rel="shortcut icon" href="~/Content/images/favicon.ico" />


    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dark Mode Switch</title>
    <meta name="description" content="Add a dark-mode theme toggle with a Bootstrap Custom Switch">

    <meta property="og:site_name" content="GitHub">
    <meta property="og:image"
          content="https://repository-images.githubusercontent.com/194995309/38db8f80-9db7-11e9-998f-43f2a26d9e0b">
    <meta property="og:title" content="dark-mode-switch">
    <meta property="og:description" content="Add a dark-mode theme toggle with a Bootstrap Custom Switch">
    <meta property="og:url" content="https://coliff.github.io/dark-mode-switch/">
    <link rel="author" href="https://christianoliff.com/">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="dark-mode.css">

</head>
<body class="header-fixed">
    <!-- partial:partials/_header.html -->  
    <nav class="t-header">
        @Html.Partial("_Header")
    </nav>
    <!-- partial -->
    <div class="page-body">
        <!-- partial:partials/_sidebar.html -->
        <div class="sidebar">
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("Administradores"))
                {
                    @Html.Partial("_SideBarAdmin")
                }
                else if (User.IsInRole("Operador"))
                {
                    @Html.Partial("_SideBarOp")
                }
                else
                {
                    @Html.Partial("_SideBar")
                }
            }
            else
            {
                @Html.Partial("_SideBar")
            }

        </div>
        <!-- partial -->
        <div class="page-content-wrapper">
            <div class="page-content-wrapper-inner">
                <div class="content-viewport-header">

                    <div class="content-viewport">

                        @RenderBody()
                        <br />
                        <hr />

                    </div>

                </div>
            </div>
            <br />
            <!-- content viewport ends -->
            <br />
            <br />
            <br />
            <br />
            <!-- partial:partials/_footer.html -->
            <footer class="footer">
                <div class="row">
                    <div class="elementor-inner" style="color:black">
                        @Html.Partial("_Footer")
                    </div>
                </div>
            </footer>
            <!-- partial -->
            <!-- page content ends -->
        </div>
    </div>
    <!--page body ends -->
    <!-- SCRIPT LOADING START FORM HERE /////////////-->
    <!-- plugins:js -->
    <script src="~/content/vendors/js/core.js"></script>
    <script src="~/content/vendors/js/vendor.addons.js"></script>
    <!-- endinject -->
    <!-- Vendor Js For This Page Ends-->
    <script src="~/content/vendors/chartjs/Chart.min.js"></script>
    <script src="~/content/js/charts/chartjs.addon.js"></script>
    <!-- Vendor Js For This Page Ends-->
    <!-- build:js -->
    <script src="~/content/js/template.js"></script>
    <script src="~/content/js/charts/chartjs.js"></script>
    <!-- endbuild -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


</body>
</html>