<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.title</title>
    @Html.Partial("_Header")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/Content/vendors/iconfonts/mdi/css/materialdesignicons.css">
    <!-- endinject -->
    <!-- vendor css for this page -->
    <!-- End vendor css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/Content/css/shared/style.css">
    <!-- endinject -->
    <!-- Layout style -->
    <link rel="stylesheet" href="~/Content/css/demo_1/style.css">
    <!-- Layout style -->
    <link rel="shortcut icon" href="~/Content/images/favicon.ico" />
</head>
<body class="header-fixed">
    <!-- partial -->
    <div class="page-body">
        <!-- partial:partials/_sidebar.html -->
        <div class="sidebar">
            @Html.Partial("_SideBar")
        </div>
        <!-- partial -->
        <div class="page-content-wrapper">
            <div class="content-viewport">
                @RenderBody()

            </div>
            <div class="row row-m-t"></div>
            <div class="row row-m-t"></div>
            <footer style=" background-color:GhostWhite">
                <!-- partial:partials/_footer.html -->
                @Html.Partial("_Footer")
                <!-- partial -->
            </footer>
            <!-- content viewport ends -->
        </div>
    </div>
    <!-- page content ends -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>




