<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bienvenido a SIREON</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/Content/vendors/iconfonts/mdi/css/materialdesignicons.css">
    <!-- endinject -->
    <!-- vendor css for this page -->
    <!-- End vendor css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/Content/css/shared/style.css">
    <!-- endinject -->
    <!-- Layout style -->
    <link rel="stylesheet" href="~/Content/css/demo_1/style.css">
    <!-- Layout style -->
    <link rel="shortcut icon" href="~/Content/images/favicon.ico" />
</head>
<body class="header-fixed">
    <!-- partial:partials/_header.html -->
    <nav class="t-header">
        @Html.Partial("_Header")
    </nav>
    <!-- partial -->
    <div class="page-body">
        <!-- partial:partials/_sidebar.html -->
        <div class="sidebar">
            @Html.Partial("_SideBar")
        </div>
        <!-- partial -->
        <div class="page-content-wrapper">
            <div class="page-content-wrapper-inner">
                <div class="content-viewport-header">

                    <div class="content-viewport">

                        @RenderBody()

                    </div>
                </div>
                <!-- content viewport ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="row">
                        <div class="elementor-inner" style="color:black">
                            @Html.Partial("_Footer")
                        </div>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- page content ends -->
        </div>
    </div>
    <!--page body ends -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>