@using Microsoft.AspNet.Identity
    <div class="sidebar" >
        <ul class="navigation-menu" style="position: fixed; top:0  ">
            <li>
                <a>

                </a>
            </li>
            <li>
                <a>

                </a>
            </li>
            <li>
                <a>
                    <span class="page-title-heading" style="color:gray">MENÚ</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Home")">
                    <span class="link-title">Inicio</span>
                    <i class="mdi mdi-home link-icon"></i>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Reservaciones")">
                    <span class="link-title">Mi espacio</span>
                    <i class="mdi mdi-home-assistant link-icon"></i>
                </a>
            </li>
            @*<li>
                <a href="#sample-pages" data-toggle="collapse" aria-expanded="false">
                    <span class="link-title">Mi espacio</span>
                    <i class="mdi mdi-home-assistant link-icon"></i>
                </a>
                <ul class="collapse navigation-submenu" id="sample-pages">
                    <li>
                        <a href="@Url.Action("Index", "Reservaciones")">Mis reservaciones</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index2", "Reservaciones")">Mis invitaciones</a>
                    </li>
                </ul>
            </li>*@
            <li>
                <a href="@Url.Action("Contact", "Home")">
                    <span class="link-title">Reglamento</span>
                    <i class="mdi mdi-book-lock-open link-icon"></i>
                </a>

            </li>
            <li>
                <a href="@Url.Action("Contact", "Home")">
                    <span class="link-title">Contáctanos</span>
                    <i class="mdi mdi-cellphone link-icon"></i>
                </a>

            </li>

            <li>
                <a href="@Url.Action("About", "Home")">
                    <span class="link-title">Nosotros</span>
                    <i class="mdi mdi-nature-people link-icon"></i>
                </a>
            </li>

            <li>
                <a href="@Url.Action("Help", "Home")">
                    <span class="link-title">Ayuda</span>
                    <i class="mdi mdi-help link-icon"></i>
                </a>
            </li>
            <li>
                <a>
                    <span>
                    </span>
                </a>
            </li>
            <li>
                <a>
                    <span class="page-title-heading" style="color:gray">VISITA TAMBIEN</span>
                </a>
            </li>
            <li>
                <a href="https://www.unphu.edu.do/" target="_blank">
                    <span class="link-title">UNPHU</span>
                    <i class="mdi mdi-calendar link-icon"></i>
                </a>
            </li>
            <li>
                <a href="https://www.unphu.edu.do/servicios/biblioteca/" target="_blank">
                    <span class="link-title">Biblioteca Virtual</span>
                    <i class="mdi mdi-calendar link-icon"></i>
                </a>
            </li>
            <li>
                <a href="http://akademia.unphu.edu.do/SitePages/Inicio.aspx" target="_blank">
                    <span class="link-title">AKADEMIA</span>
                    <i class="mdi mdi-calendar link-icon"></i>
                </a>
            </li>
            <li>
                <a href="http://virtual.unphu.edu.do/login/index.php" target="_blank">
                    <span class="link-title">UNPHU Virtual</span>
                    <i class="mdi mdi-calendar link-icon"></i>
                </a>
            </li>
        </ul>
    </div>