<ul class="navigation-menu">
    <li class="nav-category-divider">PRINCIPAL</li>
    <li>
        <a href="@Url.Action("Index", "Home")">
            <span class="link-title">Inicio</span>
            <i class="mdi mdi-home link-icon"></i>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Index", "Reservaciones")">
            <span class="link-title">Mi Espacio</span>
            <i class="mdi mdi-calendar link-icon"></i>
        </a>

    </li>

    <li>
        <a href="@Url.Action("Contact", "Home")">
            <span class="link-title">Contáctanos</span>
            <i class="mdi mdi-cellphone link-icon"></i>
        </a>

    </li>

    <li>
        <a href="@Url.Action("About", "Home")">
            <span class="link-title">Nosotros</span>
            <i class="mdi mdi-nature-people link-icon"></i>
        </a>
    </li>

    <li>
        <a href="@Url.Action("Help", "Home")">
            <span class="link-title">Ayuda</span>
            <i class="mdi mdi-help link-icon"></i>
        </a>
    </li>

    <li class="nav-category-divider">VISITA TAMBIEN</li>
    <li>
        <a href="https://www.unphu.edu.do/" target="_blank">
            <span class="link-title">UNPHU</span>
            <i class="mdi mdi-calendar link-icon"></i>
        </a>
    </li>
    <li>
        <a href="https://www.unphu.edu.do/servicios/biblioteca/" target="_blank">
            <span class="link-title">Biblioteca Virtual</span>
            <i class="mdi mdi-calendar link-icon"></i>
        </a>
    </li>
    <li>
        <a href="http://akademia.unphu.edu.do/SitePages/Inicio.aspx" target="_blank">
            <span class="link-title">AKADEMIA</span>
            <i class="mdi mdi-calendar link-icon"></i>
        </a>
    </li>
    <li>
        <a href="http://virtual.unphu.edu.do/login/index.php" target="_blank">
            <span class="link-title">UNPHU Virtual</span>
            <i class="mdi mdi-calendar link-icon"></i>
        </a>
    </li>

</ul>