<div class="sidebar" style="position: fixed; top:0  ">
    <div class="user-profile">
        <div class="display-avatar animated-avatar">
            <img class="profile-img img-lg rounded-circle" src="assets/images/profile/male/image_1.png" alt="profile image">
        </div>
        <div class="info-wrapper">
            <p class="user-name">Allen Clerk</p>
            <h6 class="display-income">$3,400,00</h6>
        </div>
    </div>
    <ul class="navigation-menu">
        <li>
            <a>
                <span class="page-title-heading" style="color:gray">PRINCIPAL</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Home")">
                <span class="link-title">Inicio</span>
                <i class="mdi mdi-home link-icon"></i>
            </a>
        </li>
        <li>
            <a href="#sample-pages" data-toggle="collapse" aria-expanded="false">
                <span class="link-title">Mi espacio</span>
                <i class="mdi mdi-home-assistant link-icon"></i>
            </a>
            <ul class="collapse navigation-submenu" id="sample-pages">
                <li>
                    <a href="@Url.Action("Index", "Reservaciones")">Mis reservaciones</a>
                </li>
                <li>
                    <a href="@Url.Action("Index2", "Reservaciones")">Mis invitaciones</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="@Url.Action("Contact", "Home")">
                <span class="link-title">Reglamento</span>
                <i class="mdi mdi-cellphone link-icon"></i>
            </a>

        </li>
        <li>
            <a href="@Url.Action("Contact", "Home")">
                <span class="link-title">Contáctanos</span>
                <i class="mdi mdi-cellphone link-icon"></i>
            </a>

        </li>

        <li>
            <a href="@Url.Action("About", "Home")">
                <span class="link-title">Nosotros</span>
                <i class="mdi mdi-nature-people link-icon"></i>
            </a>
        </li>

        <li>
            <a href="@Url.Action("Help", "Home")">
                <span class="link-title">Ayuda</span>
                <i class="mdi mdi-help link-icon"></i>
            </a>
        </li>
        <li>
            <a>
                <span>
                </span>
            </a>
        </li>

    </ul>

</div>

