
    <ul class="navigation-menu">
        <li class="nav-category-divider">PRINCIPAL</li>
        <li>
            <a href='@Url.Action("Index", "Home")'>
                <div class="link-title"><h6>Inicio</h6></div>
                <i class="mdi mdi-home link-icon"></i>
            </a>
        </li>

        <li>
            <a href='@Url.Action("Index", "Reservaciones")'>
                <div class="link-title"><h6>Mi espacio</h6></div>
                <i class="mdi mdi-calendar link-icon"></i>
            </a>
        </li>

        <li>
            <a href='@Url.Action("Contact", "Home")'>
                <div class="link-title"><h6>Contáctanos</h6></div>
                <i class="mdi mdi-cellphone link-icon"></i>
            </a>
        </li>

        <li>
            <a href='@Url.Action("About", "Home")'>
                <div class="link-title"><h6>Nosotros</h6></div>
                <i class="mdi mdi-nature-people link-icon"></i>
            </a>
        </li>

        <li>
            <a href='@Url.Action("About", "Home")'>
                <div class="link-title"><h6>Ayuda</h6></div>
                <i class="mdi mdi-help link-icon"></i>
            </a>
        </li>

        <li class="nav-category-divider">VISITA TAMBIEN</li>
        <li>
            <a href="http://akademia.unphu.edu.do/SitePages/Inicio.aspx" target="_blank">
                <span class="link-title">AKADEMIA</span>
                <i class="mdi mdi-calendar link-icon"></i>
            </a>
        </li>
        <li>
            <a href="https://www.unphu.edu.do/" target="_blank">
                <span class="link-title">UNPHU</span>
                <i class="mdi mdi-calendar link-icon"></i>
            </a>
        </li>
        <li>
            <a href="http://virtual.unphu.edu.do/login/index.php" target="_blank">
                <span class="link-title">UNPHU Virtual</span>
                <i class="mdi mdi-calendar link-icon"></i>
            </a>
        </li>
        <li>
            <a href="https://www.unphu.edu.do/servicios/biblioteca/" target="_blank">
                <span class="link-title">Biblioteca Virtual</span>
                <i class="mdi mdi-calendar link-icon"></i>
            </a>
        </li>

    </ul>        
