@using Microsoft.AspNet.Identity
<div class="sidebar" style="position: fixed; top:0  ">
    <div class="user-profile" style="padding:10px;">
        <div class="display-avatar animated-avatar">
            <img class="profile-img img-lg rounded-circle" src="@Url.Action("UserPhotos", "Home" )" alt="profile image" style="width: 110px; height: 110px;">
        </div>
        <div class="info-wrapper">
            @*<p class="user-name">@Html.ActionLink(User.Identity.GetUserName() + ".", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</p>
            *@

            <p class="user-name" id="IdAspNetNombres"></p>
            <h6 class="display-income">Estudiante</h6>
</div>
    </div>
    <ul class="navigation-menu">
        <li>
            <a>
                <span class="page-title-heading" style="color:gray">MENÚ</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Home")">
                <span class="link-title">Inicio</span>
                <i class="mdi mdi-home link-icon"></i>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Reservaciones")">
                <span class="link-title">Mi espacio</span>
                <i class="mdi mdi-home-assistant link-icon"></i>
            </a>
        </li>
        @*<li>
            <a href="#sample-pages" data-toggle="collapse" aria-expanded="false">
                <span class="link-title">Mi espacio</span>
                <i class="mdi mdi-home-assistant link-icon"></i>
            </a>
            <ul class="collapse navigation-submenu" id="sample-pages">
                <li>
                    <a href="@Url.Action("Index", "Reservaciones")">Mis reservaciones</a>
                </li>
                <li>
                    <a href="@Url.Action("Index2", "Reservaciones")">Mis invitaciones</a>
                </li>
            </ul>
        </li>*@
        <li>
            <a href="@Url.Action("Contact", "Home")">
                <span class="link-title">Reglamento</span>
                <i class="mdi mdi-book-lock-open link-icon"></i>
            </a>

        </li>
        <li>
            <a href="@Url.Action("Contact", "Home")">
                <span class="link-title">Contáctanos</span>
                <i class="mdi mdi-cellphone link-icon"></i>
            </a>

        </li>

        <li>
            <a href="@Url.Action("About", "Home")">
                <span class="link-title">Nosotros</span>
                <i class="mdi mdi-nature-people link-icon"></i>
            </a>
        </li>

        <li>
            <a href="@Url.Action("Help", "Home")">
                <span class="link-title">Ayuda</span>
                <i class="mdi mdi-help link-icon"></i>
            </a>
        </li>
        <li>
            <a>
                <span>
                </span>
            </a>
        </li>

    </ul>

</div>
<script>

    window.onload = function () {
        $.ajax({
            url: "/Account/Usuario",
            method: "GET",
            success: function (data) {

                //alert(data)
                //data = JSON.parse(data);
                console.log(data)
                for (var i = 0; i < data.length; i++) {

                    $("#IdAspNetNombres").text(data[i].Nombr + "" + data[i].Apellid);
                    
                }

                $.each(data, function (i, value) {
                    console.log('Value of ' + i + ' is : ' + value);
                })
            },
            error: function () {
                alert(data)
            }
        })
    }

</script>
