@model SIREON.ListaNegra

@{
    ViewBag.Title = "Details";
}

    <body>
        <h2>Details</h2>

        <div>
            <h4>ListaNegra</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Descripcion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Usuario.Usuario1)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Usuario.Usuario1)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID_ListaN }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </body>